<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"
	href="http://netdna.booststrapcdn.com/booststrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-app='app'>
	<div ng-controller='PostCtrl' class='container'>
		<h1>Recent Posts</h1>
		<input ng-model='postBody' class='form-control' />
		<button ng-click='addPost()' class='btn btn-default'>Add Post</button>
		<ul class='list-group'>
			<li ng-repeat='post in posts' class='list-group-item'>
			<strong>{{ post.username }}</strong>
			<span>{{ post.body }}</span>
			</li>
		</ul>
	</div>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
	<script>
		var app = angular.module('app',[])
		app.controller('PostCtrl', function($scope) {
			$scope.posts = [
				{
					username: 'dickeryxxx',
					body: 'Node rues!'
				},
				{
					username: 'jeffdickey',
					body: 'trying out angular.js...'
				}
			]
			$scope.addPost = function() {
				if($scope.postBody){
					$scope.posts.unshift({
						username: 'dickeyxxx',
						body: $scope.postBody
					})
					$scope.postBody = null
				}
			}
		});
	</script>
</body>
</html>
